<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align" data-z-depth=".25em" data-z  data-z-layers="10" data-z-event="pointer" data-z-eventRotation="30deg">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                <%= config.subtitle %>
                <% } else { %>
                subtitle
                <% } %>
            </div>

            <div class="description center-align">
                <% if (theme.subtitle.enable) { %>
                <span id="subtitle" ></span>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script>
                    var typed = new Typed("#subtitle", {
                        strings: ['<%= theme.subtitle.sub1 %>','<%= theme.subtitle.sub2 %>'],
                        startDelay: <%= theme.subtitle.startDelay %>,
                        typeSpeed: <%= theme.subtitle.typeSpeed %>,
                        loop: <%= theme.subtitle.loop %>,
                        backSpeed: <%= theme.subtitle.backSpeed %>,
                        showCursor: <%= theme.subtitle.showCursor %>
                    });
                </script>
                <% } else { %>
                <%= config.description %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% if (theme.banner.enable) { %>
<script>
function getNowFormatDate() {
  let date = new Date(),
    year = date.getFullYear(), //获取完整的年份(4位)
    month = date.getMonth() + 1, //获取当前月份(0-11,0代表1月)
    strDate = date.getDate()-1 // 获取当前日(1-31)
  if (month < 10) month = `0${month}` // 如果月份是个位数，在前面补0
  if (strDate < 10) strDate = `0${strDate}` // 如果日是个位数，在前面补0
 
  return `${year}-${month}-${strDate}`
}
    // 每天切换 banner 图.  Switch banner image every day.
    $('.bg-cover').css('background-image', `url(https://fanmingming.com/bing)`);
</script>
<% } else { %>
<script>
    $('.bg-cover').css('background-image', 'url(/medias/banner/0.jpg)');
</script>
<% } %>
<script src="<%- theme.libs.js.ztext %>"></script>
